<div id="resume-form" class="full-width defined-size-card-login" style="padding-bottom: 1em; padding-top: 1em">
  <h1 i18n="Title for Resume and Professional Experience subject">Professional's Experience</h1>
  <mat-card style="  max-width: 1000px;min-width: 1000px">
    <mat-card-header>
      <mat-card-title>Depuis Sept 2016 : Ingénieur en développement logiciel au sein de Thales Services</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>
          <u>Depuis novembre 2017 : Mission en clientèle chez EDF</u><br/>
          Développement de fonctionnalités pour l’estimation des coûts de production d’électricité en fonction des hypothèses sur l’utilisation du parc et sa disponibilité.<br/>
          Tech : Java, TM1 Cognos, Jboss, SVN, VueJS.
        </p>
        <p>
          <u>De mai 2017 à novembre 2017 : Développement au forfait pour Commutitres</u><br/>
          Commutitres : SNCF – RATP – OPTILE (contexte du projet Grand Paris) Développement du nouvel outil de gestion des titres de transport (par exemple : Pass Navigo) en vue de l’évolution du transport en Ile de France<br/>
          Tech : Scrum (agile), Java, Docker, RabbitMQ, Postgres, GIT
        </p>
        <p>
          <u>De mars 2017 à mai 2017 : Modernisation et dockerisation de SmartDisplay</u><br/>
          SmartDisplay est un logiciel facilitant la création d’objets d’information, un objet étant soit du texte, soit une vidéo, soit un flux audio ou une combinaison de ces trois éléments. SmartDisplay est utilisé sur divers projets clients (Gare routière de l’aéroport de Marseille par exemple). Modernisation : mise à niveau des COTS. Dockerisation pour faciliter le déploiement.<br/>
          Tech : Angular (V4), WebComponent (Polymer), TypeScript, SpringBoot, Kafka, Java, Docker, Postgres, GIT
        </p>
        <p>
          <u>Au cours de l’année 2017</u><br/>
          A titre personnel, après une étape de sélection, formation Android par des enseignants Google (Google Developer Challenge Scholarship) sur la plateforme Udacity<br/>
        </p>
        <p>
          <u>De septembre 2016 à mars 2017: Développement au forfait pour Asendia</u><br/>
          Asendia : Joint Venture entre Swiss Post et La Poste. Développement de fonctions de suivi de colis et de reporting en prenant en compte la multiplicité des transporteurs / vendeurs (Amazon, Alibaba …)<br/>
          Tech : Scrum (agile), Java, Pentaho ETL, Angular (2+), GIT
        </p>
        <p>
          <u>Septembre 2013 - Août 2016 : Formation en apprentissage chez Thales Services (école d’ingénieur : ESIGELEC Rouen)</u>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <h1 i18n="Title for Resume and Academic Experience">Internship's Experience</h1>
  <mat-card style="  max-width: 1000px; min-width: 1000px">
    <mat-card-content>
      <div>
        <p>
          <u>Pendant l’année scolaire 2015-2016 : Développement au forfait pour la RATP</u><br/>
          Projet IMAGE : Développement de fonctionnalités de diffusion des informations traffics et des incidents sur les afficheurs présents dans les différentes gares de métro.<br/>
          Tech : Java JEE, HTML, CSS, JavaScript, Apache, Tomcat, Jenkins, Sonar, SVN, Linux CentOS
        </p>
        <p>
          <u>De mai 2015 à septembre 2015 : stage chez Thales Alenia Space en Belgique</u><br/>
          Automatisation des tests, exécutés sur banc, de cartes électroniques (embarquées à terme sur un satellite) et interprétation automatique des résultats obtenus.<br/>
          Tech : XML, C++, Python
        </p>
        <p>
          <u>Pendant les années scolaires 2013 à 2015 : </u>
          Développement d’un outil de marketing interne : représentation sous forme 3D des différents projets de Thales Services.<br/>
          Tech : JavaScript, NoSQL, HTML, CSS, Apache, SVN, Linux CentOS
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <h1 i18n="Title for Resume and Academic Experience">Academic's Experience</h1>
  <mat-card style="  max-width: 1000px;min-width: 1000px">
    <mat-card-header>
      <mat-card-title>Ecole d’ingénieur ESIGELEC Rouen</mat-card-title>
      <mat-card-subtitle>2011 - 2016</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>
          <u> Dominante : Génie des Systèmes d’informations</u><br/>
        </p>
        <p>
          <u>TOEIC : 815</u><br/>
        </p>
        <p>
          <u>Projets Informatiques Ecole</u>
          Jeu d’échec écrit en C utilisant la librairie GTK<br/>
          Jeu PONG écrit en C# utilisant la technologie Bluetooth (2 écrans différents)<br/>
          Jeu SpaceInvader écrit en C++ avec un bracelet MYO pour le déplacement et la destruction des ennemis<br/>
          Association « Elles Bougent » : développement bénévole d’une application Android permettant l’accompagnement de lycéennes lors d’une course d’orientation.<br/>
          2011 : Bac scientifique spécialité mathématiques : Lycée Mansart (St Cyr l’école)<br/>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
