.full-width{
    width: 100%;
}

#subscribe-form{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
}