<div class="full-width" >
  <mat-grid-list cols="3" style="padding-top: 10px">
    <mat-grid-tile colspan="1" rowspan="1" *ngFor="let topic of topics">
      <mat-card style="width: 100%; height: 80%; top:2%; margin: 1em;text-align: justify;">
        <mat-card-header>
          <div mat-card-avatar><mat-icon class="icon-size">help</mat-icon></div>
          <mat-card-title>
            {{topic.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{topic.subtitle}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="height:80%; overflow-y: auto">
          <span><b>Description</b></span>
          <div *ngFor="let paragraph of topic.content">
            <p>{{paragraph}}</p>
          </div>
            <span *ngIf='topic.usecase !== "usecase"'><b>Use Case</b></span>
            <p *ngIf='topic.usecase !== "usecase"'>{{topic.usecase}}</p>

          <div *ngIf='topic.references.length > 0'>
            <span><b>References</b></span>
              <div *ngFor="let reference of topic.references">
              <p><a target="_blank" rel="noopener noreferrer" href="{{reference.url}}">{{reference.name}}</a> </p>
              </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
